.nav-link
{
    color: white;
}

header{
    background-image:url(../stas-ovsky.jpg) ;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.navbar-nav .nav-link.active
{
    color: red;
}